* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif!important;
}

.nav-link {
    font-size: 22px;
}

.material-icons {
    font-size: 60px;
}

.navbar-brand .material-icons {
    color: #6c63ff;
}
